p.italic {
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-weight: italic;
}

footer {
  text-align: center;
}

h1 {
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
}

p {
  font-family: Helvetica, sans-serif;
  text-align: center;
  line-height: 1.5;
  margin-left: 500;
  margin-right: 500;
}


