p {
  color: white;
  font-family: Helvetica, sans-serif;
}

img.home {
  padding-top: 30;
  width: 850;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

footer {
  text-align: center;
}

body {
  background-color: black;
}
