p {
  color: white;
  font-family: Helvetica, sans-serif;
}

img.home {
  padding-top: 30;
  width: 750;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

img.button {
  width: 750;
  display: block;
  margin-top: -629;
  margin-left: auto;
  margin-right: auto;
}

img.button:hover {
  filter: invert;
}

div.space1 {
  height: 90;
}

footer {
  text-align: center;
}

body {
  background-color: black;
}
