p.footer {
  font-family: Helvetica, sans-serif;
  text-align: center;
  text-align: center;
}

img.cover {
  width: 250;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40;
}

h1 {
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  padding-top: 20;
}

p.home {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

p.text {
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
  width: 850;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40;
  padding-bottom: 40;
}
